/* Style the tab */
.tabs {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent.active{
  display: block;
}

#signupbtn{
  background-color: #CFF8F2;
  color: #958adb;
}

#signinbtn{
  background-color: #7A71B5;
  color: #c5eae5;
}

#signup{
  background-color: #CFF8F2;
}

#signin{
  background-color: #7A71B5;
}

#body{
  background-color: #958adb !important;
}

#signin input:not([type="checkbox"]){
  background-color: #c5eae5;
  border: none;
  color: #7A71B5;
  box-shadow: inset 2px 2px 4px 1px rgba(0,0,0,.1);
}

#signup input:not([type="checkbox"]){
  background-color: #958adb;
  border: none;
  color: #CFF8F2;
  box-shadow: inset 2px 2px 4px 1px rgba(0,0,0,.1);
}

#signup option{
  background-color: #CFF8F2;
}

.tablinks:not(.active){
  box-shadow: inset 2px 2px 4px 2px rgba(0,0,0,.15);
}

#signup [type="checkbox"]{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
}

#signup select{

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-color: #958adb;
  border: none;
  box-shadow: inset 2px 2px 4px 1px rgba(0,0,0,.1);
}